@{
    ViewData["Title"] = "Home Page";
}

<div class="text-capitalize">
    <h1 class="display-4">Bienvenue</h1>
    <p>Veuillez vous connecter afin de faire des transactions facilement et en toute sécurité.</p>
    <a href="/Identity/Account/Register">Créer un compte</a>
    <a class="text-xl-start" href="/Identity/Account/Login">Se connecter</a>

</div>
